body {
    padding-top: 60px;
}
body h1
{
	font-size: 24px;
}
body ul
{
    list-style-type: none;
}
header
{
    padding: 40px 40px;
}

footer {	

	color: #3aed7e;
    padding: 15px 0;
    text-align: center;
    margin-top: 20px;
}