body {
    padding-top: 60px;
}
body h1
{
	font-size: 24px;
}
body ul
{
    list-style-type: none;
}
header
{
    padding: 20px 0;
}

footer {	
	background: none repeat scroll 0 0 #252c34;
	color: #3aed7e;
    padding: 15px 0;
    text-align: center;
   margin-top: 95%;
}

.form-signup, .form-signin {
    width: 400px;
    margin: 0 auto;
}
.input-block-level{
	width:100%;
    margin: 5px 0 5px 0 ;
}

.side
{
    background-color: #22d682;/* http//://www.sessions.edu/color-calculator base color #b2f8dd*/
    color:black;
    font-size: small;
    text-align: center;
    padding : 5px;
    margin : 10px auto
}
.side h1,h2,h3
{
    font-weight: bold;
}
.side h1,h2,h3,p,a
{
    font-size: small;
}
.side ul
{
    padding:0;
}
.side a:visited
{
    color:black;
}
.side a:link
{
    color:black;
}
.side:hover
{
    /*transform : scale(1.05);*/
    /*background-color: #a22636;*/
}


#mission
{
    margin-top: 20px;
    padding: 10px;
    color:white;
    background: rgba(0, 0, 0, 0) linear-gradient( #008080 0%, #43BFC7 ) repeat scroll 0 0;
}
#mission p
{
        text-indent:50px;
}
#carousel{
    margin-top:20px;
    margin-bottom: :20px;
}
.carousel-inner > .item > img {
    margin: 0 auto;      
}


/* Fade transition for carousel items */
.carousel .item {
    left: 0 !important;
      -webkit-transition: opacity .9s; /*adjust timing here */
         -moz-transition: opacity .9s;
           -o-transition: opacity .9s;
              transition: opacity .9s;
}
.carousel-control {
    background-image: none !important; /* remove background gradients on controls */
}
/* Fade controls with items */
.next.left,
.prev.right {
    opacity: 1;
    z-index: 1;
}
.active.left,
.active.right {
    opacity: 0;
    z-index: 2;
}
table tr.odd { background-color:  white; }
table tr.even { background-color: lightgrey;}
table tr { line-height: 26px; }
table tr:hover td {background:teal;color:white;}

#statements li { background: lightgrey;
        padding : 5px; }
#statements li:nth-child(odd) { background: white; }